<%- include("parts/header.ejs")%>

<form action="/cats/<%cat._id%>?_method=DELETE" method="POST">
	<input type="text" placeholder="name" name="deleteEntry"/>
	<button> Delete Entry </button>
</form>

<%- include("parts/footer.ejs")%>