<%- include("parts/header.ejs")%>
<%- include("parts/navbar.ejs")%>

<h2> Welcome back <%=username%> </h2>
	<form action="/newListing" method="POST">
		<input type="text" placeholder="Title" name="title" maxlength="90"/> <br>
		<input type="text" placeholder="Short Description" name="desc" maxlength="280"/><br>
		<input type="text" placeholder="Full Description" name="fullDesc" maxlength="2000"/><br>
		<input type="url" placeholder="Image Link" name="img"/><br>
		<input type="number" step=".01" placeholder="Price" min="0.1" name="price"/><br>
		<button type="submit" class="btn btn-success">
			Create listing
		</button>
		
	</form>

<br>
	
<a class="btn btn-primary" href="/profile">Back to My Profile</a><br>
<a class="btn btn-primary" href="/">Back to Listings</a><br>
<a class="btn btn-danger" href="/logout">Logout</a><br>

</div>

<%- include("parts/footer.ejs")%>