<%- include("parts/header.ejs")%>

<div id="banner">
<h1> Henry's Crummy Emporium </h1>

<h2> Welcome back <%=username%> </h2>

<a href="/newListing">Create Listing</a><br>
<a href="/">Back to Listings</a><br>
<a href="/logout">Logout</a><br>

</div>

<%- include("parts/footer.ejs")%>