<%- include("parts/header.ejs")%>
<%- include("parts/navbar.ejs")%>

<h2> Welcome back <%=username%> </h2>
<br>
<a class="btn btn-success" href="/newListing">Create Listing</a>
<a class="btn btn-primary" href="/">Back to Listings</a>
<a class="btn btn-danger" href="/logout">Logout</a>

</div>

<%- include("parts/footer.ejs")%>