body{
	background-color: #1c1c1c;
	color: white;
	word-wrap: break-word;
}

a{
	text-decoration: none;
	color: white;
}

.jumbotron {
  background-color: #212121;
}

.cover {
	height: 50vh;
  	width: 100%;
  	object-fit: cover;
}