<%- include("parts/header.ejs")%>

<h1> Sign Up! </h1>

<form action="/signUp" method="POST">
	<input type="text" placeholder="Username" name="username"/>
	<input type="password" placeholder="Password" name="password"/>
	<button> Submit </button>
</form>

<%- include("parts/footer.ejs")%>