<nav class="navbar navbar-light bg-dark justify-content-between">
	<h1>
	<div style="display: inline-block;">
	<a href="/" ><img src="https://i.imgur.com/2UzVMpy.png" style="width:5vw"> </img></a>
  	Henry's Crummy Emporium
	</div>
	</h1>
	<div>
	<% if(authed === true){ %>
		<a class="btn btn-primary" href="/profile">My Profile</a>
		<a class="btn btn-danger" href="/logout">Logout</a><br>
	<% } else { %> 
		<a class="btn btn-primary" href="/register"> Sign Up </a>
		<a class="btn btn-primary" href="/login"> Login </a>
	<% } %>
	</div>
</nav>